nnrpd allows empty headers for good reason

nnrpd accepts (and edits out) empty headers. This is an RFC violation but clients rely on it. 
This and issue #2 imply the need for an additional category alongside 'failure' and 'expected failure'.


```
     # INN's nnrpd accepts empty headers in POSTed articles and removes them.
     # This violates the combination of RFC5536 s2.2 and RFC5537 s3.5 (item 2).
     # However, INN's behavior is long-standing and is done for compatibility
     # with clients that expect this behavior (tin).  Essentially, the
     # specification is wrong.
```

FWIW, an erratum exists for a future update to RFC 5537:
  https://www.rfc-editor.org/errata/eid4468


```
         # INN violates RFC3977 and sends 435/438/439 for malformed message IDs.
         # Reportedly this is for compatibility with other systems but I don't
         # know what systems might actually send malformed messages IDs and
         # react badly to a 501 response.
```

Actually, if I remember well, innfeed didn't and still doesn't interpret 501 as a rejection, and will keep sending the article...
Same problem as the one we recently discussed for the innfeed 500 response code handler :)

Old INN versions pre-dating the implementation of RFC 3977 and without the stricter check of message-IDs will see the bug when sending invalid message-IDs if current INN versions respond them with 501.
Moreover, other news server may also send invalid message-IDs...  That's why this conservative approach is currently taken by INN.

Thanks @Julien-Elie, I've updated the comments to reflect that information.